.sidebarContainer {
  width: 20rem;
  min-height: calc(100vh - 3rem);
  border-right: 1px solid #414144;
  background-color: #27272a;
}
.sidebarHeaderContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  height: 3.5rem;
  border-bottom: 1px solid #414144;
  & div {
    font-size: 13px;
    transition: 0.1s color ease-in-out;
    cursor: pointer;
    color: #a1a1aa;
    &:hover {
      color: #c5c5ce;
    }
  }
}
.sidebarHeaderArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sidebarProjectsContainer {
  margin: 0.5rem 0rem;
}
.projectsItem {
  display: flex;
  padding: 0.3rem 1.5rem;
  transition: 0.15s color ease-in-out;
  cursor: pointer;
  color: #fff;
  & svg {
    margin-right: 0.5rem;
  }
  &:hover {
    color: rgb(210, 206, 206);
  }
  &:nth-child(5) {
    width: 100%;
    background-color: #a1a1aa;
    &:hover {
      cursor: default;
      color: #fff;
    }
  }
}
