.thirdRowContainer {
  display: flex;
  align-items: center;
  position: relative;
  height: 3.5rem;
  border-bottom: 1px solid rgb(120, 120, 120);
}
.verticalLine,
.horizontalLine {
  display: flex;
  position: absolute;
}
.verticalLine {
  left: 3.4rem;
  top: -2.3rem;
  height: 4rem;
  border-left: 1px solid #fff;
}
.horizontalLine {
  width: 1rem;
  left: 3.4rem;
  bottom: 1.7rem;
  border-bottom: 1px solid #fff;
}
.thirdRowInputError {
  & input {
    transition: 0.3s border-color ease-in-out;
    border-color: red !important;
  }
}
.leftBlock {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 0rem 1rem;
  padding-left: 3.1rem;
  color: #fff;
}
.rightBlock {
  display: flex;
  align-items: center;
  width: 50%;
  color: #fff;
  & div {
    width: 25%;
    & input {
      width: 90%;
      height: 2rem;
      border-radius: 0.5rem;
      padding: 0rem 1rem;
      color: rgb(87, 87, 87);
      background-color: #fff0;
      border: 1px solid rgb(67, 67, 67);
    }
  }
}
.svgChoiceContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  min-width: 3.5rem;
  height: 1.7rem;
  border-radius: 1rem;
  margin-right: 1.2rem;
  & svg {
    cursor: pointer;
  }
}
.svgChoiceContainerActive {
  background-color: rgb(89 89 89);
}
.rowNameContainer {
  width: 100%;
  & input {
    width: 95%;
    height: 2rem;
    border-radius: 0.5rem;
    padding: 0rem 1rem;
    color: rgb(87, 87, 87);
    background-color: #fff0;
    border: 1px solid rgb(67, 67, 67);
  }
}
