.middleWrapper {
  display: flex;
}
.middleContainer {
  width: 100%;
}
.middleRowsWrapper,
.rowSubDirectoryWrapper {
  width: 100%;
  padding: 0rem 1rem;
}
.rowSubDirectoryWrapper {
  padding: 0rem;
}
.middleRowsContainer {
  position: relative;
}
.middleRow,
.middleRowSubDirectory {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 2rem;
  padding-bottom: 1rem;
  margin-bottom: 0.8rem;
  color: #fff;
  border-bottom: 1px solid #414144;
}
.middleRow {
  border-bottom: 1px solid #87878e;
}
.middleRowBlockOne,
.subDirectoryBlockOne {
  display: flex;
  width: 50%;
  & div:nth-child(2) {
    display: flex;
    align-items: center;
  }
}
.parentRowImgControllers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.3rem;
  min-width: 6.5rem;
  height: 1.8rem;
  margin-right: 1rem;
  padding-left: 0.3rem;
  & svg {
    cursor: pointer;
  }
}
.subRowImgControllers {
  min-width: 5.5rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-left: 0.4rem;
  & svg {
    cursor: pointer;
  }
}
.subSubRowImgControllers {
  min-width: 5rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.3rem;
  margin-left: 2rem;
  margin-right: 0.6rem;
  padding-left: 0.8rem;
  & svg {
    cursor: pointer;
  }
}
.parentRowImgControllersActive,
.subRowImgControllersActive,
.subSubRowImgControllersActive {
  justify-content: space-around;
  padding-left: 0rem;
  background-color: #414144;
}
.middleRowBlockTwo,
.subDirectoryBlockTwo {
  display: flex;
  align-items: center;
  width: 50%;
  padding-left: 1.5rem;
}
.rowBlockSalary,
.rowBlockEquipmentCosts,
.rowBlockOverheads,
.rowBlockEstimatedProfit {
  width: 25%;
}
.inputSalary,
.inputEquipmentCosts,
.inputOverheads,
.inputEstimatedProfit {
  width: 90%;
  height: 2rem;
  border-radius: 0.3rem;
  padding: 0rem 1rem;
  color: #71717a;
  border: 1px solid #414144;
  background-color: #27272a00;
  transition: 0.1s border-color ease-in-out;
  &:focus {
    border-color: #5d5d61;
  }
}
.editRowImgControllers {
  width: 4rem;
  margin-left: 2rem;
  margin-right: 3.2rem;
}
.rowNameTextContainer {
  width: 100%;
  margin-left: 1.3rem;
  cursor: pointer;
}
.inputRowName {
  width: 100%;
  height: 2rem;
  border-radius: 0.3rem;
  padding: 0rem 1rem;
  color: #71717a;
  border: 1px solid #414144;
  background-color: #27272a00;
  transition: 0.1s border-color ease-in-out;
  &:focus {
    border-color: #5d5d61;
  }
}
.middleRowsLoadingPage {
  width: 100%;
  display: flex;
  padding-left: 11%;
  color: #71717a;
  & div {
    width: 13.5%;
  }
  & div:nth-child(1) {
    width: 47%;
  }
}
.rowNameText,
.rowSalaryText,
.equipmentText,
.overheadsText,
.profitText {
  width: 80%;
  padding-left: 0.2rem;
  color: #fff;
}
.verticalLineSubDir {
  position: absolute;
  height: 4.2rem;
  left: 2.5rem;
  bottom: 51%;
  z-index: 5;
  border-left: 1px solid #fff;
}
.horizontalLineSubDir {
  position: absolute;
  width: 0.8rem;
  left: 2.5rem;
  bottom: 51%;
  z-index: 5;
  border-bottom: 1px solid #fff;
}
.verticalLineSubSubDir {
  position: absolute;
  height: 4.2rem;
  left: 3.5rem;
  bottom: 1.9rem;
  z-index: 5;
  border-left: 1px solid #fff;
}
.horizontalLineSubSubDir {
  position: absolute;
  width: 0.8rem;
  left: 3.55rem;
  bottom: 57%;
  z-index: 5;
  border-bottom: 1px solid #fff;
}
svg {
  z-index: 10;
}
.folderBluedisabled svg {
  cursor: default;
}
.inputErrColorRed {
  & input {
    transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    border-color: red;
    color: red;
    &::placeholder {
      color: red;
    }
  }
}
